@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@keyframes load {
    from {
        color: transparent;
    }

    to {
        color: white;
    }
}

body {
    background-image: linear-gradient(150deg, rgb(4, 0, 26), rgb(7, 0, 32));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    color: white;
}

header, nav {
    color: transparent;
    animation: load;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
h1 {
    font-weight: bold;
}
nav {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.index {
    background-image: linear-gradient(150deg, rgb(4, 0, 26), rgb(7, 0, 32));
    border: solid;
    border-color: rgb(94, 94, 94);
    border-width: 1px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: inherit;
    text-decoration: inherit;
}


.container {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.group_box {
    text-align: left;
    padding-bottom: 6px;
    border-radius: 10px;
    font-size: 13px;
    padding: 6px;
    background-image: linear-gradient(140deg, rgb(7, 0, 37), rgb(8, 7, 48));
    border: 1px solid rgb(94, 94, 94);
}

.group_name {
    color: gold;
}

@media (min-width: 740px){
    .box{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 75%;
        align-self: center;
    }
}