@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    background-image: linear-gradient(150deg, rgb(4, 0, 26), rgb(7, 0, 32));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    color: white;

}
header {
    h1 {
        font-size: 28px;
        font-weight: bold;
    }
}

.date {
    background-image: linear-gradient(140deg, rgb(7, 0, 37), rgb(8, 7, 48));
    color: white;
    font-family: "Inter", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(94, 94, 94);
    border-radius: 50px;
    font-size: 12px;
    height: 40px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 1em;
}


.match {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 6px;
    gap: 6px;
    border-radius: 10px;

    background-image: linear-gradient(140deg, rgb(7, 0, 37), rgb(8, 7, 48));
    border: 1px solid rgb(94, 94, 94);
}

.flag {
    width: 24px;
    height: 16px;
    object-fit: cover;
}

/* Home team */
.match p:nth-of-type(1) {
    flex: 1;
    text-align: left;
}

/* Score */
.match p:nth-of-type(2) {
    flex: 0 0 50px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.match .result{
    color: gold;
}

/* Away team */
.match p:nth-of-type(3) {
    flex: 1;
    text-align: right;
}

/* Group */
.match p:nth-of-type(4) {
    width: 100%;
    text-align: center;
    margin-top: 4px;
    font-size: 10px;
    color: #bbb;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding-bottom: 20px;
}

.btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: rgb(3, 107, 50);
    color: white;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .10s ease;
    border: 1px solid rgba(255, 255, 255, .15);
}

.btn:hover {
    background: rgb(2, 59, 28);
    transform: scale(1.08);
    box-shadow: 0 0 5px rgba(60, 255, 0, 0.6);
}

.flag {
    display: flex;
    width: 40px;
    height: auto;
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(94, 94, 94);
    border-width: 1px;
}

.refresh {
    font-size: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

@media (min-width: 740px) {
    header h1 {
        font-size: 45px;
    }

    .date {
        font-size: 16px;
        width: 10%;
    }

    .btn {
        width: 40px;
        height: 40px;
    }

    .container p {
        font-size: 20px;
    }

    .match {
        width: 80%;
        align-self: center;
    }

    .flag {
        width: 65px;
    }
}
