@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    background-image: linear-gradient(150deg, rgb(4, 0, 26), rgb(7, 0, 32));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    color: white;

}
header {
    h1 {
        font-size: 25px;
        font-weight: bold;
    }
}

.date {
    background-image: linear-gradient(140deg, rgb(7, 0, 37), rgb(8, 7, 48));
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(94, 94, 94);
    border-radius: 50px;
    font-size: 10px;
    height: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    p {
        background-color: transparent;
        font-size: 12px;
        margin: 5px;
        padding-top: 10px;
        font-style: italic;
    }
}


.match {
    background-image: linear-gradient(140deg, rgb(7, 0, 37), rgb(8, 7, 48));
    border-style: solid;
    border-color: rgb(94, 94, 94);
    border-width: 1px;
    padding: 1em;
    background-color: rgb(31, 31, 31);
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;

}
.match p {
    flex: 0 0 100%;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.btn {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: rgb(3, 107, 50);
    color: white;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .10s ease;
    border: 1px solid rgba(255, 255, 255, .15);
}


.btn:hover {
    background: rgb(2, 59, 28);
    transform: scale(1.08);
    box-shadow: 0 0 5px rgba(60, 255, 0, 0.6);
}

.flag {
    display: flex;
    width: 40px;
    height: auto;
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(94, 94, 94);
    border-width: 1px;
}


@media (min-width: 740px) {
    header h1 {
        font-size: 45px;
    }

    .date {
        font-size: 16px;
    }

    .btn {
        width: 40px;
        height: 40px;
    }

    .container p {
        font-size: 16px;
    }

    .match {
        font-size: 20px;
        width: 80%;
        align-self: center;
    }

    .flag {
        width: 65px;
    }
}
